* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  word-wrap: break-word;
  line-height: 1.25rem;
}

#contentParent {
  height: 100%;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

#chat-column-holder {
  text-align: center;
}

.chat-column {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem 0 0.625rem 0;
  text-align: left;
  max-width: 25rem;
  min-width: 9.375rem;
  background-color: #F4F4F4;
  box-shadow: 0px 3px 30px #00000029;
  
  height: 95%;
  margin: auto;
  border-radius: 1em;
  margin-top: 1em;
}

.user-typing {
  flex: 0;
  border: none;
  color: #8d25e8;
  margin: 0.75rem;
  font-size: 15;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  position: relative;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #009FE2;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
  word-break: break-all;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}


.from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #1cb3a0;
}

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-watson,
.message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1rem;
  color: #B5B5B5;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.from-watson.latest .message-inner {
  color: #FFF;
  background-color: #D70046;
  margin: 0em 1em;
  border-bottom-left-radius: 0px;
}

.from-watson p {
  margin: 0.3125rem;
  padding: 0 1.25rem;
}

.from-watson.latest.top:before {
  content: ".";
  color: #9855D4;
  background-image: url("../img/marker_image.png");
  background-size: 0.3125rem 1.3125rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  width: 0.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#textInput.underline {
  border-bottom: 2px solid #00B4A0;
}

::-webkit-input-placeholder {
  color: #B5B5B5;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#payload-column {
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  overflow-x: auto;

  width: 45%;
  max-width: 32.0625rem;
  min-width: 29.6875rem;
}