#foot{
	text-align: center;
	padding: 1em;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #f4f4f4b8;
}

#foot a{
	text-decoration: none;
	color: #707070;
	margin: 0.5em;
}

#logo {
	position: absolute;
	left: 1em;
	top: 1em;
}

.virus{
	z-index: -1;
	position: absolute;
}

#virus1{
	top: 60%;
	left: 80%;
}

#virus2{
	top: 50%;
	left: 65%;
	width: 10em;
}

#virus3{
	top: 45%;
	left: 80%;
	width: 7em;
}

.from-watson ul{
	background-color: #FFF;
	color: black;
	border-radius: 0.5em;
	border: 2ps solid black;
}

.from-watson .options-list{
	cursor: pointer;
}

@media screen and (max-width: 1340px){
	#logo{
		width: 20em;
	}
}

@media screen and (max-width: 1100px){
	.chat-column{
		margin-right: 4em;
	}
	#virus3{
		top: 20%;
	}
}

@media screen and (max-width: 800px){
	#logo{
		position: initial;
		display: block;
		margin: auto;
		margin-top: 0.5em;
	}
	.chat-column{
		margin-right: auto;
	}
	#contentParent{
		height: calc(100% - 100px);
	}
}

@media screen and (max-height: 610px){
	#virus1{
		display: none;
	}
	#foot{
		padding: 0px;
	}
	#chat-column-holder{
		margin-bottom: 1em;
	}
}

@media screen and (max-height: 500px) and (max-width: 800px){
	.chat-column{
		margin-left: 1em;
	}
	#foot{
		top: 0;
		left: 80%;
		width: 20%;
		line-height: 2em;
		height: min-content;
	}
	#virus2{
		top: 25%;
	}
	#virus3{
		display: none;
	}
	#logo{
		margin-left: 1em;
	}
	body{
		overflow-y: scroll;
	}
}